In [1]:
from enum import auto
from itertools import count
from operator import truediv
from turtle import color
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
datas = pd.read_csv('FDNY.csv')

In [3]:
## 1 viewing content of data
print(datas)

                                          FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]

In [4]:
## 2 view firt 5 records
print(datas.head(6))  

## 3 skipping first row and print 5 data sets
print(datas.iloc[1:6 ,  1:])
# print(datas,skiprows=1)

## 4 show statistics 
print(datas.count)
## 5 displaying row index
print(datas.index)

## 6 pandas accessing columns

print(datas.columns) ## ADDING COLUMN NAME IN string

print(datas['Borough'].value_counts())

                                        FacilityName        FacilityAddress  \
0                                       FacilityName        FacilityAddress
1                                 Engine 4/Ladder 15        42 South Street
2                                Engine 10/Ladder 10     124 Liberty Street
3                                           Engine 6      49 Beekman Street
4  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...   100-104 Duane Street
5                                           Ladder 8  14 North Moore Street

     Borough
0    Borough
1  Manhattan
2  Manhattan
3  Manhattan
4  Manhattan
5  Manhattan
         FacilityAddress    Borough
1        42 South Street  Manhattan
2     124 Liberty Street  Manhattan
3      49 Beekman Street  Manhattan
4   100-104 Duane Street  Manhattan
5  14 North Moore Street  Manhattan
<bound method DataFrame.count of                                           FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]>
RangeIndex(start=0, stop=219, step=1)
Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')
Brooklyn         66
Queens           50
Manhattan        48
Bronx            34
Staten Island    20
Borough           1
Name: Borough, dtype: int64

In [5]:
#show datatypes of each columns
print(datas.dtypes)



# find the total number of facilities

print(datas['FacilityName'].value_counts())

## finding total number of fire department facilities in nyc
# fd_nyc = (datas.loc[:,"LOC_STATE_NAME"] == "New York" )
# countt = 0
# for i in fd_nyc:
#     if i == True:
#         count +=1
# print(countt)    

## finding total number of fire department facilities in all newyork
# fd_all = (datas.loc[:,"LOC_STATE_NAME"])
# print(fd_all.count())

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object
FacilityName                          1
Engine 325/Ladder 163                 1
Engine 276/Ladder 156/Battalion 33    1
Engine 253                            1
Engine 318/Ladder 166                 1
                                     ..
Engine 62/Ladder 32                   1
Engine 38/Ladder 51                   1
Engine 63/Ladder 39/Battalion 15      1
Engine 66/Ladder 61                   1
Engine 151/Ladder 76                  1
Name: FacilityName, Length: 219, dtype: int64

In [6]:
# show size of fdny for each borough

print(datas.groupby(['Borough']).size())

# view fdny information for each borough

print(datas.groupby(['Borough']).describe())

 # replacing nan
# print(datas.dropna(inplace = True))



# describe gives stats unique top freq count

Borough
Borough           1
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64
              FacilityName         \
                     count unique
Borough
Borough                  1      1
Bronx                   34     34
Brooklyn                66     66
Manhattan               48     48
Queens                  50     50
Staten Island           20     20

                                                                       \
                                                             top freq
Borough
Borough                                             FacilityName    1
Bronx                           Engine 60/Ladder 17/Battalion 14    1
Brooklyn       Engine 207/Ladder 110/Battalion 31/Division 11...    1
Manhattan                                     Engine 4/Ladder 15    1
Queens                                     Engine 258/Ladder 115    1
Staten Island                                           Marine 9    1

              FacilityAddress
                        count unique                          top freq
Borough
Borough                     1      1              FacilityAddress    1
Bronx                      34     34        341 East 143rd Street    1
Brooklyn                   66     66           172 Tillary Street    1
Manhattan                  48     48              42 South Street    1
Queens                     50     50            10-40 47th Avenue    1
Staten Island              20     20  Saint George Ferry Terminal    1